* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

.error {
  position: absolute;
  width: 133px;
  height: 25px;
  left: 77px;
  top: 40px;

  font-family: Inconsolata;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: -0.08em;
  text-transform: uppercase;
}

.scarecrow {
  position: absolute;
  width: 400px;
  top: 150px;
  left: 150px;
}

.title {
  position: absolute;
  width: 586px;
  height: 190px;
  left: 735px;
  top: 150px;

  font-family: Space Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 95px;
  letter-spacing: -0.035em;
}

.description {
  position: absolute;
  width: 381px;
  height: 108px;
  left: 736px;
  top: 365px;

  font-family: Space Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.035em;
}

.button {
  background-color: #333333;
  border: none;
  color: white;
  cursor: pointer;
  padding: 15px 32px;
  text-align: center;
  position: absolute;
  left: 736px;
  top: 525px;

  font-family: Space Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;

  letter-spacing: -0.035em;
  text-transform: uppercase;
}

footer {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  width: 100vw;
}

.message {
  font-family: Inconsolata;
  color: #a6a6a6;
}

@media all and (max-width: 500px) {
  .error {
    left: 30px;
    top: 20px;
    font-size: 25px;
    width: 40%;
  }

  .scarecrow {
    width: 89%;
    top: 100px;
    left: 15px;
  }

  .title {
    width: 88%;
    top: 400px;
    left: 5px;
    font-size: 45px;
    line-height: 70px;
  }

  .description {
    width: 88%;
    height: 108px;
    top: 570px;
    left: 5px;
    font-size: 22px;
  }

  .button {
    padding: 25px 32px;
    top: 730px;
    left: 5px;
  }

  footer {
    bottom: -35vh;
  }
}
